.login-container {
    caret-color: transparent;
}

.login-container .el-card {
    width: 940px;
    height: 540px;
    margin: 100px auto;
    border: 1px solid var(--global-light-theme-main-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

/* 图片样式 */
.login-container .el-card img {
    width: 400px;
}

/* 登录表单样式 */
.login-container .el-card__body {
    display: flex;
    margin-top: 50px;
    height: 460px;
}

.login-container .login-item {
    margin-left: 35px;
    margin-top: -30px;
}

.login-container .login-item .el-tabs {
    width: 440px;
}

/* 自定义头部横线样式 */
.login-container .login-item .el-tabs__nav-wrap.is-top::after {
    content: none;
}

.login-container .login-item .el-tabs__nav-scroll {
    border-bottom: 1px solid var(--global-light-theme-main-color);
    margin-bottom: 10px;
}

/* 自定义头部标签样式 */
.login-container .login-item  .el-tabs__item {
    color: var(--global-light-theme-main-color);
}

/* 自定义头部标签选中样式 */
.login-container .login-item .el-tabs__item.is-active {
    color: var(--global-light-theme-main-color);
    font-weight: bold;
}

.login-container .login-item .el-tabs__active-bar.is-top {
    background-color: var(--global-light-theme-main-color); !important;
}

/* 自定义一头部标签指针悬浮样式 */
.login-container .login-item .el-tabs__item:hover {
    color: var(--global-light-theme-main-color);
    font-weight: bold;
    font-size: 100%;
}