/*
 题集页
 */

/* 题集页容器样式 */
.problem-set-container {
    margin-top: 20px;
    display: flex; !important;
    justify-content: center; !important;
}

/* 题目列表卡片样式 */
.problem-set-container .problem-set-container-card {
    caret-color: transparent;
    width: 1200PX; !important;
    max-width: 100%; !important;
    border: 0;
    background-color: var(--global-light-theme-bgcolor);
}

/* 自定义卡片头部样式 */
.problem-set-container .el-card .el-card__header {
    border-bottom: 2px solid var(--global-light-theme-main-color);
}

/* 自定义卡片头部标题样式 */
.problem-set-container .el-card .el-card__header {
    color: var(--global-light-theme-main-color);
    font-size: 21px;
    font-weight: bold;
}

/* 取消卡片四周阴影 */
.problem-set-container .el-card.is-always-shadow {
    box-shadow: none;
}


/*
 题目列表
*/
/* 题集页卡片 body 部分样式 */
.problem-set-container .el-card .el-card__body {

}

/* 题目列表样式 */
.problem-set-container .problem-list ul {
    list-style-type: none;
    padding-inline-start: 0;
}

/* 题目列表项样式 */
.problem-set-container .problem-list ul li {
    margin-bottom: 20px;
}

/* 题目卡片 */
.problem-set-container .problem-list .problem-item {
    caret-color: transparent;
    border: 1px solid var(--global-light-theme-main-color);
    border-radius: 25px;
}

/* 题目卡片悬浮样式 */
.problem-set-container .problem-list .problem-item:hover {
    transform: scale(1.03);
    cursor: pointer;
}

/* 题目提交结果-通过 */
.problem-set-container .problem-list .problem-item.problem-judge-result-accept {
    background-color: var(--global-light-theme-problem-card-accept-bgcolor);
}

/* 题目提交结果-错误 */
.problem-set-container .problem-list .problem-item.problem-judge-result-wrong {
    background-color: var(--global-light-theme-problem-card-wrong-bgcolor);
}


/* 题目卡片信息列表 */
.problem-set-container .problem-list .problem-item .problem-item-info {
    display: flex;
}

/* 题目序号样式 */
.problem-set-container .problem-list .problem-item .problem-id {
    width: 10%;
    color: var(--global-light-theme-main-color);
    font-weight: bold;
}

/* 题目标题样式 */
.problem-set-container .problem-list .problem-item .problem-title {
    width: 90%;
    color: var(--global-light-theme-main-color);
    font-weight: bold;
}

/*
 分页
*/
/* 问题列表分页 */
.problem-set-container .problem-list-pagination .el-pagination {
    justify-content: center;
    margin-top: 50px;
}

/* 自定义分页数字样式 */
.problem-set-container .problem-list-pagination .el-pagination .el-pager .number {
    font-size: 16px;
    color: var(--global-light-theme-main-color);
}

/* 自定义分页翻页按钮样式 */
.problem-set-container .problem-list-pagination .el-pagination button {
    color: var(--global-light-theme-main-color);
}

/* 设置翻页按钮指针悬浮样式 */
.problem-set-container .problem-list-pagination .el-pagination .el-pager .number:hover {
    transform: scale(1.3);
}

/* 设置分页页码指针悬浮样式 */
.problem-set-container .problem-list-pagination .el-pagination button:hover {
    transform: scale(1.5);
}