/*
 问题详情页
*/

/* 总过题排名页容器样式 */
.problem-container {
    margin-top: 20px;
    display: flex; !important;
    justify-content: center; !important;
}

/* 题目列表卡片样式 */
.problem-container .el-card {
    caret-color: transparent;
    width: 1000PX; !important;
    max-width: 100%; !important;
    border: 0;
    background-color: var(--global-light-theme-bgcolor);
}

/* 自定义卡片头部样式 */
.problem-container .el-card .el-card__header {
    border-bottom: 2px solid var(--global-light-theme-main-color);
}

/* 自定义卡片头部标题样式 */
.problem-container .el-card .el-card__header {
    color: var(--global-light-theme-main-color);
    font-size: 28px;
    font-weight: bold;
}

/* 取消卡片四周阴影 */
.problem-container .el-card.is-always-shadow {
    box-shadow: none;
}




/*
 * 问题描述面板样式
 */
.problem-container .problem-description {
    min-height: 32px;
}

/* 输入描述面板样式 */
.problem-container .problem-input {
    min-height: 32px;
}

/* 输出描述面板样式 */
.problem-container .problem-output {
    min-height: 32px;
}

/* 自定义 Markdown 渲染部分布局 */
.problem-container .md-editor-preview-wrapper {
    padding: 0;
    margin-top: -14px;
}


/* 自定义 h3 标签布局 */
.problem-container h3 {
    font-size: 21px;
    margin-bottom: 14px;
    margin-top: 36px;
}

/* 自定义样例展示面板布局 */
.problem-container .pre-container {
    position: relative;
}

/* 自定义样例展示面板 copy 按钮布局 */
.problem-container .pre-container .copy-button {
    position: absolute;
    top: 6px; /* 调整为复制按钮相对于 <pre> 标签顶部的距离 */
    right: 6px; /* 调整为复制按钮相对于 <pre> 标签右侧的距离 */
    border: 0;
    width: 32px;
    height: 16px;
}

/* 自定义样例展示面板布局 */
.problem-container .problem-sample-test-list pre {
    border: 1px solid var(--global-light-theme-main-color);
    border-radius: 5px;
    padding: 8px 14px;
    overflow: auto;
}

/* 自定义样例展示面板 copy 按钮点击后复制成功提示弹窗样式 */
.el-popper {
    border: 1px solid var(--global-light-theme-main-color);
    background: red;
}

/* 样例输入输出展示面板样式 */
.problem-container .problem-sample-test .pre-container {
    font-size: 18px;
    font-weight: 400;
}



/*
* 代码编辑器
*/
/* 自定义代码编辑器头部布局 */
.problem-container .problem-code-editor .code-editor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

/* 自定义代码编辑器头部代码语言选择器样式 */
.problem-container .problem-code-editor .code-editor-header .code-editor-lang-selector {
    width: 180px;
}


/* 自定义代码编辑器面板样式 */
.problem-container .problem-code-editor .ace_editor {
    height: 600px;
    border: 1px solid #EEEEEE;
    font-size: 18px;
}

/* 自定义代码编辑器左边行号面板样式 */
.problem-container .problem-code-editor .ace_editor .ace_gutter {
    background: #EEEEEE;
}

/* 取消代码编辑器面板中的竖线 */
.problem-container .ace_print-margin {
    height: 0;
}

/* 代码提交按钮样式 */
.problem-container .problem-submit-button {
    color: var(--global-light-theme-main-color);
    margin-top: 32px;
    border: 1px solid var(--global-light-theme-main-color);
}

/* 代码提交按钮指针悬停样式 */
.problem-container .problem-submit-button:hover {
    background: transparent;
    border: 1px solid var(--global-light-theme-main-color);
    color: var(--global-light-theme-main-color);
    transform: scale(1.008);
}

/* 代码提交按钮指针点击样式 */
.problem-container .problem-submit-button:active {
    transform: scale(0.95);
}
