:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #212529;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--global-light-theme-bgcolor);

    --global-light-theme-main-color: #000000;
    --global-light-theme-main-hover-color: #F8F9FA;
    --global-light-theme-main-active-color: #6C757D;
    --global-light-theme-bgcolor: #ffffff;
    --global-light-theme-problem-card-accept-bgcolor: #e8ffe8;
    --global-light-theme-problem-card-wrong-bgcolor: #ffdfdf;
}

body {
    margin: 0;
}
